@charset 'utf-8';


* {
  /* reset.css */
  margin: 0px;
  
}

body {
  /* 배경컬러 */
  background-color: bisque; 
} 

span {
  /*텍스트 밑줄*/
  text-decoration: line-through;
  
}

h1 {
  color: blue !important;
}

p {
  width: 30%;
  background-color: rgb(174, 221, 221);
}
a {
  text-decoration: none;
  font-style:italic;
  color: rgb(90, 90, 128);
}


div {color: red;
    width: 70%;
}